@media (max-width:1170px){
    /* General CSS */
    .section-subtitle{
        max-width:60%
    }
    /* Navbar css */
    .header .navbar{
        background-size: cover;
        padding:20px;
    }
    .header .navbar-nav{
        margin-top:20px;
    }
    .header .navbar-nav .nav-link{
        padding:2px 5px;
        margin-bottom: 10px;
    }
    .header .header_right span{
        padding:2px 5px;
    }
}

@media (max-width:991px){
    .about .banner_section,
.product .banner_section,
.gallery .banner_section,
.contact .banner_section,
.distributors .banner_section{
    padding-top:125px;
    padding-bottom: 30px;
}
}

@media (max-width:767px){
    body,html{
        font-size:8px;
    }
    .section-subtitle{
        max-width:80%;
    }
    .banner_section{
        min-height: 70vh;
    }
    .banner_section .carousel-item{
        height:70vh;
    }
}

@media (max-width:590){
    body,html{
        font-size:7px;
    }
}